{% extends 'Admin/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="card-body" id="mainPage">
  <div id="alert-box"></div>
  <div id="image-box" class="mb-3"></div>
    <form method='POST' action="" enctype="multipart/form-data" id="image-form">
      {% csrf_token %}
    
        <div class="form-group">
        <label>Product</label>
        {% render_field form.product_name id="product_name" placeholder="Name" class="form-control" %}
        </div>
        <div class="form-group d-none">
        <label>slug</label>
        {% render_field form.slug  id="slug" placeholder="slug" class="form-control"   %}
        </div>
    
        <div class="form-group">
          <label>Brand Name</label>
          {% render_field form.brand  placeholder="brand" class="form-control" %}
        </div>
    
        <div class="form-group">
          <label>Price</label>
          {% render_field form.price type="number" min="0" placeholder="price" class="form-control" %}
        </div>
    
        <div class="form-group">
          <label>Imageg 1</label>
          {% render_field form.product_image_1  required="True" class="form-control" id="id_file" %}
        </div>
    
        <div class="form-group">
          <label>Imageg 2</label>
          {% render_field form.product_image_2 required="True" placeholder="brand" class="form-control" %}
        </div>
    
        <div class="form-group">
          <label>Imageg 3</label>
          {% render_field form.product_image_3 required="True"  placeholder="brand" class="form-control" %}
        </div>
    
        <div class="form-group">
          <label>Imageg 4</label>
          {% render_field form.product_image_4  required="True"  class="form-control" %}
        </div>
    
    
        <div class="form-group">
          <label>Discription</label>
          {% render_field form.product_description required="True" class="form-control" %}
        </div>
        
        <div class="form-group">
          <label>Category</label>
          {% render_field form.category_id class="form-control" required="True" %}
        </div>
    
    
        <div class="form-group">
          <label>Sub Category</label>
          {% render_field form.subcategory_id class="form-control" required="True" %}
        </div>
    
        <div class="form-group">
          <label>Stock</label>
          {% render_field form.stock class="form-control" %}
        </div>
        
       <div class="form-gorup d-flex">
          
          <label class="">Is Active : </label>
          {% render_field form.is_active class="ml-3" style="width:30px; height:23px" %}
       </div>
      
      </div>
      <div class="d-flex ml-auto">
        <a class="btn btn-primary ml-auto mr-2" href="{% url 'product'  %}">Cancel</a>
        <button class="btn btn-success" type="submit">Save</button>
      </div>
      
      </form>
      <button class="btn btn-primary mt-3  not-visible" id="confirm-btn">confirm</button>
  </div>
  <!-- content-wrapper ends -->
  <div id="infoContainer"></div>
  <div id="cropContainer"></div>
  <button class="resize-done">Done</button>
</div>
<!-- main-panel ends -->







<script>
  document.getElementById("product_name").onkeyup=function(){
    document.getElementById("slug").value=document.getElementById("product_name").value.toLowerCase().replaceAll(" ","-");
  }
</script>


<!-- Product add form validation using jquery -->










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.min.js"></script>



<!-- jquery form vlaidation -->
<script src="{% static 'js/jquery-form-validation.js' %}"></script>
<script>
  $(document).ready(function(){
  $("#image-form").validate({
    rules:{
          product_name:{
                        required:true,
                        minlength:2
                        }, 
          brand:{
            required:true,
            minlength:2
                },
            
                price:{
                  required:true, 
                },
                stock:{
                  min:0
                },
                product_description:{
                  minlength:10
                },
                product_offer:{
                  required:false,
                  min:0,
                  max:70,
                }
          },


    messages :{
              product_name:{
                            minlength:"Minimum 2 charecter needed",
                            },
              brand:{
                minlength:"Minimum 2 charecter needed",
              },
              price:{
                min:'Price must be posative number'
              },
              stock:{
                min:'Stock must be posative number'
              },
              product_description:{
                minlength:"Minimum 10 charecter needed", 
              },
              product_offer:{
                  min:'Offer must be posative number',
                  max:'Offer must be less than or equal 70%',
                }
              }
  })
})


</script>






<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/cropimage.js' %}"></script>
<script>
  $('#cropContainer').cropimage({
  image:"{% static 'images/logo.jpg' %}",
  btnDoneAttr:'.resize-done'
});

$('#cropContainer').resizeImage({
  image:"{% static 'images/logo.jpg' %}",
  btnDoneAttr: '.resize-done'
}, function( imgResized ){
  $('#infoContainer').html( '<img src="'+ imgResized +'">' )
})

$('#cropContainer').resizeImage({

// Formats: 3/2, 200x360, auto
imgFormat: 'auto', 

// lg-md, sm-xs
device: 'all', 

// true => circle, square ( by default )
circleCrop: false, 

// image zoom options
zoomable: true,
zoomMax: 2,

// black, white
outBoundColor: 'black'

})
</script>
</body>
<!-- page-body-wrapper ends -->
</html>
<!-- container-scroller -->
{% endblock %}