{% extends 'Admin/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}



<div class="card-body">
<form method='POST' action="" enctype="">
    {% csrf_token %}

  <div class="form-group">
  <label>Sub Category</label>
  {% render_field form.sub_category_name name="sub_category_name" id="sub_category_name" placeholder="sub category" class="form-control" %}
  </div>
  <div class="form-group">
  <label>slug</label>
  {% render_field form.slug name="slug" id="slug" placeholder="slug" class="form-control" %}
  </div>
  <div class="form-group">
    <label>Category</label>
    {% render_field form.category class="form-control" %}
    </div>
  </div>
  <!-- copy from here -->
  <div class="d-flex ml-auto">
    <a class="btn btn-primary ml-auto mr-2" href="{% url 'category'  %}">Cancel</a>
    <button class="btn btn-success" type="submit">SAVE Category</button>
  </div>
  
  </form>
</div>
<!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<script>
  document.getElementById("sub_category_name").onkeyup=function(){
    document.getElementById("slug").value=document.getElementById("sub_category_name").value.toLowerCase().replaceAll(" ","-");
  }
</script>
</body>
<!-- page-body-wrapper ends -->
</html>
<!-- container-scroller -->
{% endblock %}