{% extends 'Admin/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
 
<form class="form py-3" method="POST">
    {% csrf_token %}
    <label for="" >Coupon Code</label>
    {% render_field form.code class="form-control" %}
    <label for="" class="my-3">Discount</label>
    {% render_field form.discount class="form-control" type="number" min="1" max="20" %}
    <label for="" class="my-3">Minimum Value</label>
    {% render_field form.min_value class="form-control" type="number" min="1" %}
    <label for="" class="my-3">Expiary  Date</label>
    {% render_field form.valid_at  class="form-control" id="datefield" %}
    <div class="form-gorup d-flex my-3">
          
        <label class="">Active : </label>
        {% render_field form.active class="ml-3" style="width:30px; height:23px" %}
     </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- copy from here -->
</div>
<!-- content-wrapper ends -->
</div>

<script>
    document.getElementById("datefield").setAttribute("min", '{{today_date}}');
</script>

<!-- main-panel ends -->
</body>
<!-- page-body-wrapper ends -->
</html>
<!-- container-scroller -->
{% endblock %}